# Node.js dependencies
/node_modules

# TypeScript build output
/dist

# Visual Studio Code files
.vscode

# Mac OS files
.DS_Store

# Compiled JavaScript files
*.js
*.js.map

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
